body, html {
    height: 100%;
    font-family: 'Bitter', serif;
    font-weight: lighter;
    background-color: #52528C;
    color: #C2E7D9;
}

.card, .about-text, .btn {
    font-family: 'Roboto', sans-serif;
}

.card, .btn:hover {
    color: #000000
}

.btn {
    background-color: #372554;
}

.btn:hover {
    background-color: #C2E7D9;
}

#header {
    padding: 1em;
}

h1, h4 {
    margin-bottom: 1.5em;
}

.port-heading {
    height: 25vh;
    padding: 25vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.icon-link {
    padding: 5px;
    color: #000000;
}

.tech-logo {
    width: 12%;
}

.project-image {
    filter: brightness(80%)
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    padding-left: 5px!important;
}

.container {
    margin-top: 100px;
}

footer {
    padding: 7.5em;
}

/* .nav-link {
    border-bottom: white solid 3px;
}

.nav-link:hover {
    border-bottom: black solid 3px;
} */