body, html {
    height: 100%;
    color: #FBBAAA;
    /* background: url("../images/bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; */
}

#header {
    /* margin-top: 7em; */
    background-color: #9F574E;
    padding: 1em;
}

.port-heading {
    height: 50vh;
}

.card {
    background-color: #9F574E;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.icon-link {
    padding: 5px;
    color: #000000;
}

.tech-logo {
    width: 12%;
}

.project-image {
    filter: brightness(80%)
}

main {
    flex: 1 0 auto;
}

.btn {
    margin: 2px;
}

.brand-logo {
    padding-left: 5px!important;
}

.container {
    margin-top: 100px;
}

footer {
    padding: 7.5em;
}

/* .nav-link {
    border-bottom: white solid 3px;
}

.nav-link:hover {
    border-bottom: black solid 3px;
} */