body, html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.icon-link {
    padding: 5px;
    color: #000000;
}

main {
    flex: 1 0 auto;
}

.btn {
    margin: 2px;
}

.brand-logo {
    padding-left: 5px!important;
}

.container {
    margin-top: 100px;
}

footer {
    padding: 7.5em;
}

/* .nav-link {
    border-bottom: white solid 3px;
}

.nav-link:hover {
    border-bottom: black solid 3px;
} */